@import "tailwindcss";

:root {
  --background: #ffffff;
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.templateContainer {
  @apply max-w-[1400px] mx-auto px-4  md:px-12 lg:px-14 py-6 md:py-10 lg:py-12;
}
